.about {
  padding: 125px 20px 20px 20px;
  margin: auto;
  text-align: center;
  background-color: var(--secondary-bg-color);
  @media screen and (min-width: 768px) {
    padding: 130px 36px 33px 39px;
  }
  @media screen and (min-width: 1280px) {
    padding: 125px 117px 20px 112px;
  }
}
.about__btn {
  font-size: 14px;
  line-height: 1.3;
  border: none;
  min-height: 24px;
  border-radius: 22px;
  padding: 6px 14px;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
