.about {
  padding-top: 125px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--secondary-bg-color);
  background-size: contain;
  background-position-y: 90%;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    background-image: url(../images/about/bg-milk@2x.png);
  }

  @media screen and (min-width: 768px) {
    padding: 130px 36px 33px 39px;
  }
  @media screen and (min-width: 1280px) {
    padding: 125px 117px 20px 112px;
    background-position: 80%;
    background-image: url(../images/about/bg-milk-desktop@2x.png);
  }
}
.about__subtitle {
  @extend .title-label;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}


.about__title {
  @extend .title-label;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
    font-size: 58px;
    letter-spacing: 0.06em;
    line-height: 1.13;
  }
}


.about__thumb {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    flex-direction: row;
      }
  }
  
.about__cards-img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
max-height: 279px;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    max-width: 340px;
    max-height: 339px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 516px;
    max-height: 516px;
  }
}



.about__cards-box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 74px;
  }
}


.about__cards-text {
  margin-bottom: 47px;
  text-align: left;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--primary-dark-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.7;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.about__cards-description {
  margin-bottom: 20px;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  color: var(--secondary-dark-text-color);
  text-align: left;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.9;
  }
}
.about__cards-paragraf {
  display: block;
  margin-bottom: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-size: 12px;
  color: var(--secondary-dark-text-color);
  text-align: left;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
    font-weight: 500;
    line-height: 1.9;
  }
}

.about__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 44px;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  background-color: var(--third-bg-color);
  color: var(--accent-color);
  border: none;
  border-radius: 22px;
  padding: 6px 14px;

  color: var(--accent-color);
  background-color: var(--primary-light-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hover-btn-color-light);
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.about__btn-svg {
  margin-left: 13px;
  width: 10px;
  height: 10px;
  fill: var(--accent-color);
}
