.about {
  padding-top: 125px;
  padding-bottom: 20px;

  text-align: center;
  background-color: var(--secondary-bg-color);
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 33px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 20px;
  }
}
.about__btn {
  font-size: 14px;
  line-height: 1.3;
  border: none;
  min-height: 24px;
  border-radius: 22px;
  padding: 6px 14px;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
