.advantages {
  color: var(--color-advantages);
}

.advantages-title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 13.6;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.advantages-title::before {
  background-image: url(./images/advantages/advantages1-tablet.png);
}
