.advantages {
  color: var(--color-advantages);
}

.advantages-title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
