
.customer__reviews{
  background-color:var(--third-bg-color);

  @media screen and (min-width:768px) {
padding-top:60px ;
padding-bottom:60px;
  }
}

.slider{
  padding-top:40px ;
  padding-bottom:180px ;
  text-align:center ;
  @media screen and (min-width:768px) {
    padding-top:60px ;
    padding-bottom:170px;
      }
      @media screen and (min-width:1280px) {
        padding-bottom:175px;
          }}

.customer__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  @media screen and (min-width:768px){
    margin-bottom: 19px;

    @media screen and (min-width:1280px) {
      margin-bottom: 15px;
    }
  }
}
.customer__text-wrapper {
  background-color:var(--reviews-bg-color);
  padding: 43px 66px 52px 57px;
  margin-bottom: 50px;

  
  @media screen and (min-width:768px){
    padding: 47px 80px 34px 80px;
margin-bottom: 42px;
  }
  @media screen and (min-width:1280px){
   padding: 47px 89px 39px 97px;
   margin-bottom:34px;
  }
}
.customer__text{
  position: relative;
  z-index: 1;
  line-height: 2.58;
@media screen and (min-width:768px){
  font-size: 14px;
  line-height: 2.14;
}
@media screen and (min-width:1280px){
  font-size: 16px;
  line-height: 1.87;
}
  
  color:var(--primary-dark-text-color);
  background-image: repeating-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0) 29px,var(--contacts-border-color) 0,var(--contacts-border-color) 30px);
  &::before{
    content: "";
    display: block;
    width: 54px;
    height: 40px;
    position: absolute;
    z-index: -1;
    background-image: url(/images/svg/quotes.svg);
    background-repeat: no-repeat;
    top:-15px;
    left:4px;  
    @media screen and (min-width:768px){
      top:-17px;
      left: -20px;
    }
  }
  &::after{
    content: "";
    display: block;
    width: 32px;
    height:4px ;
    position: absolute;
    background-image: url(/images/svg/dotes-red.svg);
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}
.customer__location{
font-size: 14px;
line-height: 1.86;
color:var(--primary-dark-text-color);
@media screen and (min-width:768px){
  font-size: 16px;
}
@media screen and (min-width:1280px){
  font-size: 20px;
}
}

.swiper-pagination {
  top:83%;
  @media screen and (min-width: 768px) {
    top: 70%;
  }
  }

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-image: url(/images/svg/home.svg);
  width: 13px;
  height: 12px;
  background-color:transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

