.footer {
  color: var(--color-footer);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.footer__pre-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;

  color: #ffa5ba;
}
.footer__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}
.footer__title-block {
  width: 234px;
}
.footer-social {
  list-style: none;
  display: flex;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
}
.button {
  color: var(--accent-color);
  background-color: var(--primary-light-text-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  border: 1px solid var(--accent-color);
  cursor: pointer;

  width: 160px;
  min-height: 44px;
  border-radius: 22px;
  padding: 12px auto;

  // transition: background-color 250ms var(--time--animation), color 250ms var(--time--animation);

  &::after {
    display: inline-block;
    content: '';
    width: 4px;
    height: 8px;
    margin-left: 12px;
    background-image: url(../images/svg/symbol-defs.svg/#icon-arrow-btn);
    background-size: cover;
    color: var(--accent-color);
  }

  &:hover,
  &:focus {
    background-color: var(--hover-btn-color-light);
    // color: var(--text--color--white);
  }
}
.footer-tel {
  display: flex;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 43px;
  border-bottom: 1px solid var(--accent-color);
}
