.footer {
  background-color: var(--secondary-bg-color);
}

.footer__block {
  // border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.footer__pre-title {
  font-family: Titan One;

  font-size: 50 px;
  line-height: 1.17;
  text-transform: uppercase;

  color: #ffa5ba;

  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.footer__title {
  font-family: Titan One;

  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    margin-bottom: 91px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 97px;
  }

  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.footer__title-block {
  width: 234px;
  @media screen and (min-width: 768px) {
    width: 340px;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
  }
}
.footer-social {
  list-style: none;
  display: flex;
  justify-content: end;
}
.footer__social-item {
  margin-left: 20px;
}

.footer__legacy-block {
  border-top: 1px solid #e1e1e1;
  // margin-top: 22px;
  // margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    display: flex;
    // margin-top: 29px;
    // margin-bottom: 18px;
  }

  // @media screen and (min-width: 1280px) {
  //   display: flex;
  // }
}

.footer__legacy {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;

  text-align: center;

  color: #907e82;

  padding-top: 22px;
  padding-bottom: 25px;

  @media screen and (max-width: 767px) {
    width: 147px;
    padding-right: 5px;
    padding-left: 5px;
  }
  @media screen and (min-width: 768px) {
    margin: o auto;
    padding-top: 29px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    padding-top: 10px;
    padding-bottom: 9px;
  }
}
.footer__social-icon {
  width: 32px;
  height: 32px;
  fill: var(--secondary-light-text-color);

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__legacy {
  margin-right: auto;
  margin-left: auto;
}

.footer-tel__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  color: var(--primary-dark-text-color);
}

.footer-tel__number {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  color: var(--accent-color);
}

.footer-tel {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 46px;
  padding-bottom: 43px;
}
