.gallery {
  padding-top: 70px;
  padding-bottom: 120px;
  background-image: linear-gradient(
    to bottom,
    var(--secondary-bg-color) 50%,
    var(--third-bg-color) 50%
  );
}

.masonry-gallery__item {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.4);
    z-index: 2;
  }
}

.gutter-width {
  width: 2%;
}

.persent-size {
  width: 18%;
}

.test {
  //width: 25%;
}
