:root {
  --color-about: red;
  --color-advantages: green;
  --color-contacts: blue;
  --color-reviews: cyan;
  --color-footer: magenta;
  --color-gallery: yellow;
  --color-hero: tomato;
  --color-products: silver;
}
