:root {
  --color-about: red;
  --color-advantages: green;
  --color-contacts: blue;
  --color-reviews: cyan;
  --color-footer: magenta;
  --color-gallery: yellow;
  --color-hero: tomato;
  --color-products: silver;
}
:root {
  --primary-light-text-color: #ffffff;
  --primary-dark-text-color: #000000;
  --secondary-dark-text-color: #907e82;
  --secondary-light-text-color: #ffa5ba;
  --accent-color: #d41443;
  --first-bg-color: #e5e5e5;
  --secondary-bg-color: #fff5f6;
  --accent-bg-color: #ffb8ca;
  --secondary-accent-bg-color: #f0d1a5;
  --third-accent-bg-color: #c2e297;
  --footer-elements-bg-color: #ffa5ba;
  --hover-btn-color-dark: #c7133e;
  --hover-btn-color-light: #ecebeb;
  --social-icon-bg-color: #fea5bb;
  --menu-bg-color: #e17992;
  --decor-bg-color: #d9d9d9;
}
