<section class="about" id="about">
  <div class="container">
    <span class="about__subtitle">tradition and love </span>
    <h2 class="about__title">how it's made?</h2>
    <div class="about__cards">
      <picture class="about__cards-img">
        <source
          media="(min-width:1280px)"
          srcset="/images/about/cow-desktop.webp 1x, images/about/cow-desktop@2x.webp 2x"
          type="image/webp"
        />

        <source
          media="(min-width:768px)"
          srcset="images/about/cow-tablet.webp 1x, images/about/cow-tablet@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width:768px)"
          srcset="images/about/cow.webp 1x, images/about/cow.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width:1280px)"
          srcset="images/about/cow-desktop.png 1x, images/about/cow-desktop@2x.png 2x"
          type="image/png"
        />
        <source
          media="(min-width:768px)"
          srcset="images/about/cow-tablet.png 1x, images/about/cow-tablet@2x.png 2x"
          type="image/png"
        />
        <source
          media="(max-width:767px)"
          srcset="images/about/cow.png 1x, images/about/cow@2x.png 2x"
          type="image/png"
        />
        <img src="images/about/cow.png" alt="Cow with milk" />
      </picture>
    </div>
    <div class="about__cards-thumb">
      <p class="about__cards-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__cards-description">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <span class="about__cards-paragraf">Aliquam erat volutpat. Aenean accumsan.</span>
      <button class="about__btn" type="button">
        Read more
        <svg class="about__btn-svg" width="12" height="12">
          <use href="//src/images/svg/symbol-defs.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
