<section class="advantages">
  <div class="container">
    <ul class="advantages-list list">
      <li class="advantages-item">
        <div class="advantages-icon-wrapper">
          <svg class="advantages-icon" width="33" height="50">
            <use href="#"></use>
          </svg>
        </div>
        <b class="advantages-title"></b>
        <p class="advantages-text"></p>
      </li>
      <li class="advantages-item">
        <div class="advantages-icon-wrapper">
          <svg class="advantages-icon" width="50" height="50">
          <use href="#"></use>
              </svg>
        </div>
        <b class=" advantages-title"></b>
        <p class="advantages-text"></p>
      </li>
      <li class="advantages-item">
        <div class="advantages-icon-wrapper">
          <svg class="advantages-icon" width="44" height="50">
            <use href="#"></use>
          </svg>
        </div>
        <b class=" advantages-title"></b>
        <p class="advantages-text"></p>
      </li>
    </ul>
  </div>
</section>