<section class="advantages">
  <div class="container">
    <h2 class="advantages-section-title">advantages</h2>

    <ul class="advantages-list list">
      
      <li class="advantages-block">
        <div class="advantages-item">
        <p class="advantages-title">721</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    
      <li class="advantages-block">
        <div class="advantages-item">
        <p class="advantages-title ">16KG</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      </li>

      <li class="advantages-block">
        <div class="advantages-item">
        <p class="advantages-title">84</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      </li>
    </ul>
  </div>
</section>