<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__label-bg">
          <p class="contacts__label">CAFE</p>
        </div>
        <div class="contacts__wrapper">
          <h3 class="contacts__title">Chicago</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__wrapper">
          <div class="contacts__work-time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <a href="tel:+61(0)383766284 " class="contacts__link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
      </li>
      <li class="contacts__item">
        <div class="contacts__label-bg">
          <p class="contacts__label">FOODTRUCK</p>
        </div>
        <div class="contacts__wrapper">
          <h3 class="contacts__title">Los Angeles</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__wrapper">
          <div class="contacts__work-time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <a href="tel:+61(0)383766284 " class="contacts__link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
      </li>
      <li class="contacts__item">
        <div class="contacts__label-bg">
          <p class="contacts__label">CAFE</p>
        </div>
        <div class="contacts__wrapper">
          <h3 class="contacts__title">New York</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__wrapper">
          <div class="contacts__work-time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <a href="tel:+61(0)383766284 " class="contacts__link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contacts__btns">
      <button class="contacts__btn contacts__btn--red" type="button" data-contacts-modal-open>
        Our Locations
        <svg class="contacts__icon ">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-btn-contacts"></use>
        </svg>
      </button>
      <button class="contacts__btn contacts__btn--white" type="button" data-contacts-fr-modal-open>
        Franchise
        <svg class="contacts__icon">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-btn-contacts"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<div class="backdrop is-hidden" data-contacts-modal>
  <div class="modal" >
    <button class="modal__btn--close" data-contacts-modal-close>
      <svg class="modal__icon--close">
        <use href="./images/svg/symbol-defs.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="section-title modal__title">Our Locations</h2>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46220.16406762384!2d-84.79602102089841!3d43.61153320000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88221cb850aa6ad9%3A0xa940c60a6618d1b0!2sDoozie%E2%80%99s%20Ice%20Cream%20Place!5e0!3m2!1sru!2sua!4v1638793206649!5m2!1sru!2sua" referrerpolicy="no-referrer" allowfullscreen="" loading="lazy"></iframe> 
  </div>
</div>
<div class="backdrop is-hidden" data-contacts-fr-modal >
  <div class="modal" >
    <button class="modal__btn--close" data-contacts-fr-modal-close >
      <svg class="modal__icon--close">
        <use href="./images/svg/symbol-defs.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="section-title modal__title">Franchise</h2>
    <p class="contacts__franchise">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus tempora veniam maxime eligendi eius nihil ipsam eaque magni dicta rerum et vel nam officia ea sunt perferendis nulla dolore similique, error accusamus pariatur? Nesciunt, commodi corporis. Rem culpa deserunt veniam, odit doloremque quis!</p>
    <p class="contacts__franchise">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus tempora veniam maxime eligendi eius nihil ipsam eaque magni dicta rerum et vel nam officia ea sunt perferendis nulla dolore similique, error accusamus pariatur? Nesciunt, commodi corporis. Rem culpa deserunt veniam, odit doloremque quis!</p>
    <p class="contacts__franchise">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus tempora veniam maxime eligendi eius nihil ipsam eaque magni dicta rerum et vel nam officia ea sunt perferendis nulla dolore similique, error accusamus pariatur? Nesciunt, commodi corporis. Rem culpa deserunt veniam, odit doloremque quis!</p>
  </div>
</div>


