<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__label">CAFE</p>
        <div class="contacts__wrapper">
          <h3 class="contacts__title">Chicago</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__wrapper">
          <div class="contacts__work-time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <a href="tel:+61(0)383766284 " class="contacts__link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">FOODTRUCK</p>
        <div class="contacts__wrapper">
          <h3 class="contacts__title">Los Angeles</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__wrapper">
          <div class="contacts__work-time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <a href="tel:+61(0)383766284 " class="contacts__link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">CAFE</p>
        <div class="contacts__wrapper">
          <h3 class="contacts__title">New York</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__wrapper">
          <div class="contacts__work-time">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <a href="tel:+61(0)383766284 " class="contacts__link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contacts__btns">
      <button class="contacts__btn" type="button">
        Our Locations
        <svg class="contacts__icon" width="4px" height="8px">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-btn"></use>
        </svg>
      </button>
      <button class="contacts__btn" type="button">
        Franchise
        <svg class="contacts__icon" width="4px" height="8px">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
