<!--секция отзывы-->
<section class="reviews">
  <div class="container">
<!--<h2 class="visually-hidden">customer reviews</h2>-->
<div class="swiper customer">
  <!-- оболочка слайдера -->
  <div class="swiper-wrapper ">
    <!-- слайды -->
    <div class="swiper-slide"><img class="customer__foto" src="/images/customer-reviews/review1-desktop.png" alt=""><div class="customer__reviews"
      >
      <p class="customer__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </div><h3>Emily, Los Angeles</h3></div>
    <div class="swiper-slide"><img class="customer__foto" src="/images/customer-reviews/review2-desktop.png" alt=""><div class="customer__reviews">
      <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </div><h3>Emily, Los Angeles</h3></div>
      <div class="swiper-slide"><img class="customer__foto" src="/images/customer-reviews/review3-desktop.png" alt=""><div class="customer__reviews">
        <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div><h3 class="customer__address">Emily, Los Angeles</h3></div>
        
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

</div>
</div></section>
 