<!--секция отзывы-->
<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">customer-reviews</h2>
<div class="swiper">
  <!-- оболочка слайдера -->
  <div class="swiper-wrapper ">
    <!-- слайды -->
    <div class="swiper-slide"><img src="/images/customer-reviews/review1-desktop.png" alt=""><div class="customer_reviews"
      >
      <p class="customer_text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </div><h3>Emily, Los Angeles</h3></div>
    <div class="swiper-slide"><img src="/images/customer-reviews/review2-desktop.png" alt=""><div class="customer_reviews">
      <p class="customer_text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      </div><h3>Emily, Los Angeles</h3></div>
      <div class="swiper-slide"><img src="/images/customer-reviews/review3-desktop.png" alt=""><div class="customer_reviews">
        <p class="customer_text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div><h3>Emily, Los Angeles</h3></div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>
</div></section>
