<!--секция отзывы-->
<section class="customer__reviews">
  <!--слайдер-->
  <div class="swiper container slider">
<h2 class="visually-hidden">customer reviews</h2>

  <!-- оболочка слайдера -->
  <div class="swiper-wrapper ">
    <!-- слайды -->
    <div class="swiper-slide customer__slide"><img class="customer__photo" src="/images/customer-reviews/review1-desktop.png" alt="Emily"/>
      <div class="customer__text-wrapper"> <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
      <h3 class="customer__location">Emily, Los Angeles</h3></div>

      <div class="swiper-slide customer__slide"><img class="customer__photo" src="/images/customer-reviews/review2-desktop.png" alt="Katty"/>
        <div class="customer__text-wrapper"> <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
        <h3 class="customer__location">Katty, Los Angeles</h3></div>

        <div class="swiper-slide customer__slide"><img class="customer__photo" src="/images/customer-reviews/review3-desktop.png" alt="Sally"/>
          <div class="customer__text-wrapper"> <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
          <h3 class="customer__location">Sally, Los Angeles</h3></div>     
  </div>
  <!-- пагинация -->
  <div class="swiper-pagination"></div>

</div>
</section>



 