<footer class="footer">
  <div class="container ">
  <div class="footer__block">
    <div class="footer__title-block">
      <p class="footer__pre-title">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <div class="footer__contacts">

    <ul class="list footer-social">
      <li class="footer__social-item">
        <a href="https://stanislavkuchma.github.io/goit-markup-hw-08" class="footer__social-link">
          <svg class="footer__social-icon">
            <use href="./images/svg/symbol-defs.svg/#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="" class="footer__social-link">
          <svg class="footer__social-icon">
            <use href="./images/svg/symbol-defs.svg/#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="" class="footer__social-link">
          <svg class="footer__social-icon">
            <use href="./images/svg/symbol-defs.svg/#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="footer-tel">
      <p class="footer-tel__text">Feel free to contact</p>
      <a href="tel:+61(0)383766284" class=" footer-tel__number link"> +61(0)383766284</a>
    </div>
    </div>
  </div>
    <div class="footer__legacy-block">
    <p class="footer__legacy">© 2019 - IceCream.All Rights Reserved.</p>
    <!-- <p class="footer__legacy">All Rights Reserved.</p> -->
    </div>
  </div>
</footer>

<!-- Будет две кнопки красная и белая Размер в разных секциях и псевдо > где нужно добавлюем -->
<!-- <button class="button-red">Products</button>
<button class="button-white">How it’s made?</button> -->