<div class="container">
  <h2 class="gallery">gallery</h2>
  <p class="gallery">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa porro numquam dolor! Nobis
    maiores quaerat consectetur, commodi libero aspernatur impedit voluptates facere! Suscipit
    explicabo omnis illum consequatur, natus perspiciatis? Aut nulla sit architecto earum.
    Consequuntur dicta aspernatur repudiandae veniam ipsa?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A pariatur sint vel itaque repellat
    explicabo quia ullam. Eos laboriosam velit alias, tenetur eius quis accusantium sed dignissimos
    obcaecati amet similique doloremque dolorem voluptatibus suscipit optio, repellat cumque laborum
    fugiat a quae dicta est maxime. Tempora nam aspernatur perspiciatis ea porro, perferendis
    distinctio blanditiis tempore quas optio vero accusantium enim aliquam incidunt deserunt
    quisquam id quibusdam nemo amet officia cupiditate velit provident. Aut, sed tempore amet
    dolorem, molestias deleniti quod iure saepe quas quam impedit perferendis molestiae sapiente
    laborum consequuntur fugit suscipit corrupti animi. Autem consequuntur ullam ea, alias libero
    architecto.
  </p>
</div>
