<section class="gallery">
  <div class="container">
    <ul class="masonry-gallery">
      <li class="masonry-gallery__item">
          <picture>
              <source srcset="./images/gallery/1-min.webp 1x, ./images/gallery/1-min.webp 2x" type="image/webp" 
              media="(min-width: 768px)"/>
              <source srcset="./images/gallery/1-min.jpg 1x, ./images/gallery/1-min.jpg 2x" type="image/jpeg" 
              media="(min-width: 1280px)"/>
              <img src="./images/gallery/1-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
          </picture>
        </li>
      <li class="masonry-gallery__item">
          <picture>
              <source srcset="./images/gallery/2-min.webp 1x, ./images/gallery/2-min.webp 2x" type="image/webp" 
              media="(min-width: 768px)"/>
              <source srcset="./images/gallery/2-min.jpg 1x, ./images/gallery/2-min.jpg 2x" type="image/jpeg" 
              media="(min-width: 1280px)"/>
              <img src="./images/gallery/2-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
          </picture>
      </li>
      <li class="masonry-gallery__item">
        <picture>
            <source srcset="./images/gallery/3-min.webp 1x, ./images/gallery/3-min.webp 2x" type="image/webp" 
            media="(min-width: 768px)"/>
            <source srcset="./images/gallery/3-min.jpg 1x, ./images/gallery/3-min.jpg 2x" type="image/jpeg" 
            media="(min-width: 1280px)"/>
            <img src="./images/gallery/3-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
        </picture>
      </li>
      <li class="masonry-gallery__item">
        <picture>
            <source srcset="./images/gallery/4-min.webp 1x, ./images/gallery/4-min.webp 2x" type="image/webp" 
            media="(min-width: 768px)"/>
            <source srcset="./images/gallery/4-min.jpg 1x, ./images/gallery/4-min.jpg 2x" type="image/jpeg" 
            media="(min-width: 1280px)"/>
            <img src="./images/gallery/4-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
        </picture>
      </li>
      <li class="masonry-gallery__item">
        <picture>
          <source srcset="./images/gallery/5-min.webp 1x, ./images/gallery/5-min.webp 2x" type="image/webp" 
          media="(min-width: 768px)"/>
          <source srcset="./images/gallery/5-min.jpg 1x, ./images/gallery/5-min.jpg 2x" type="image/jpeg" 
          media="(min-width: 1280px)"/>
          <img src="./images/gallery/5-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
        </picture>
      </li>
      <li class="masonry-gallery__item">
        <picture>
          <source srcset="./images/gallery/6-min.webp 1x, ./images/gallery/6-min.webp 2x" type="image/webp" 
          media="(min-width: 768px)"/>
          <source srcset="./images/gallery/6-min.jpg 1x, ./images/gallery/6-min.jpg 2x" type="image/jpeg" 
          media="(min-width: 1280px)"/>
          <img src="./images/gallery/6-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
        </picture>
      </li>
      <li class="masonry-gallery__item">
        <picture>
          <source srcset="./images/gallery/7-min.webp 1x, ./images/gallery/7-min.webp 2x" type="image/webp" 
          media="(min-width: 768px)"/>
          <source srcset="./images/gallery/7-min.jpg 1x, ./images/gallery/7-min.jpg 2x" type="image/jpeg" 
          media="(min-width: 1280px)"/>
          <img src="./images/gallery/7-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
        </picture>
      </li>
      <li class="masonry-gallery__item">
        <picture>
          <source srcset="./images/gallery/8-min.webp 1x, ./images/gallery/8-min.webp 2x" type="image/webp" 
          media="(min-width: 768px)"/>
          <source srcset="./images/gallery/8-min.jpg 1x, ./images/gallery/8-min.jpg 2x" type="image/jpeg" 
          media="(min-width: 1280px)"/>
          <img src="./images/gallery/8-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
        </picture>
      </li>
      <li class="masonry-gallery__item">
        <picture>
          <source srcset="./images/gallery/9-min.webp 1x, ./images/gallery/9-min.webp 2x" type="image/webp" 
          media="(min-width: 768px)"/>
          <source srcset="./images/gallery/9-min.jpg 1x, ./images/gallery/9-min.jpg 2x" type="image/jpeg" 
          media="(min-width: 1280px)"/>
          <img src="./images/gallery/9-min.jpg" alt="ice cream" />
        </picture>
      </li>
      <li class="masonry-gallery__item">
        <picture>
          <source srcset="./images/gallery/10-min.webp 1x, ./images/gallery/10-min.webp 2x" type="image/webp" 
          media="(min-width: 768px)"/>
          <source srcset="./images/gallery/10-min.jpg 1x, ./images/gallery/10-min.jpg 2x" type="image/jpeg" 
          media="(min-width: 1280px)"/>
          <img src="./images/gallery/10-min.jpg" alt="ice cream" class="masonry-gallery__img" loading="lazy"/>
        </picture>
      </li>   
    </ul>
  </div>
</section>


