<section class="section__hero-header">
  <div class="container">

    <!------------header-------------->

    <header class="header__container">
      <nav class="header__site__nav">
        <a href="#" class="header-logo">
          <img src="../src/images/hero-header/logo-tablet.png" alt="logo">
        </a>
        <ul class="header__list">
          <ii class="header__list__item">
            <a href="#" class="header__list__link current">Home</a>
          </ii>
          <ii class="header__list__item">
            <a href="#" class="header__list__link">About us</a>
          </ii>
          <ii class="header__list__item">
            <a href="#" class="header__list__link">How it’s made?</a>
          </ii>
          <ii class="header__list__item">
            <a href="#" class="header__list__link">Our products</a>
          </ii>
          <ii class="header__list__item">
            <a href="#" class="header__list__link">Contact</a>
          </ii>

        </ul>
        
      </nav>
      <div class="header__btn__box">
        <button class="burger-btn" data-menu-open>
          <svg class="burger-icon" width="20" height="12">
            <use href="../src/images/svg/symbol-defs.svg#icon-burger"></use>
          </svg>
      </button>
        <button type="button" class="header-btn button-white" >Buy now
        <svg class="header-btn__icon" width="5" height="8">
              <use href="../src/images/svg/symbol-defs.svg#icon-arrow-btn"></use>
            </svg>
      </button>
      
      </div>
      

       <!--Start mobile menu-->

        <div class="mobile-menu" data-menu>
          <button class="mobile-menu__close-btn" data-menu-close>
            <svg class="mobile-menu__close__btn-icon" width="14" height="14">
              <use href="../src/images/svg/symbol-defs.svg#icon-close"></use>
            </svg>
          </button>
          <button type="button" class="mobile-menu__btn button-white">Buy now 
            <svg class="btn-icon" width="5" height="8">
              <use href="../src/images/svg/symbol-defs.svg#icon-arrow-btn"></use>
            </svg>
          </button>
          <ul class="mobile-menu__list">
            <ii class="mobile-menu__list__item">
              <a href="#" class="mobile-menu__link current">Home</a>
            </ii>
            <ii class="mobile-menu__list__item">
              <a href="#" class="mobile-menu__link">About us</a>
            </ii>
            <ii class="mobile-menu__list__item">
              <a href="#" class="mobile-menu__link">How it’s made?</a>
            </ii>
            <ii class="mobile-menu__list__item">
              <a href="#" class="mobile-menu__link">Our products</a>
            </ii>
            <ii class="mobile-menu__list__item">
              <a href="#" class="mobile-menu__link">Contact</a>
            </ii>

          </ul>
        </div>

        <!--Finish mobile menu-->

    </header>

      <!------------hero--------------->

    <div class="hero-container">
      <div class="hero__box">
        <div class="hero__box__title">
          <h1 class="hero__title">ice cream<br>made with<br><span class="title-item">passion</span> </h1>
          <button type="button" class="hero-btn-dark button-red">Products</button>
          <button type="button" class="hero-btn-light button-white">How it’s made?</button>
        </div>
        <ul class="hero__description__list">
          <li class="hero__description__item">
            <span class="hero__description__count">16</span>
            <p class="hero__description__text">cafes</p>
          </li>
          <li class="hero-description-item">
            <span class="hero__description__count">23</span>
            <p class="hero__description__text">food trucks</p>
          </li>
        </ul>
      </div>
      
      
      <picture class="hero__contain__image" >
        <source
          media="(min-width: 1280px)"
          srcset="../src/images/hero-header/ice-cream-desktop.webp 1x, ../src/images/hero-header/ice-cream-desktop@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="../src/images/hero-header/ice-cream-desktop.png 1x, ../src/images/hero-header/ice-cream-desktop@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="../src/images/hero-header/ice-cream-tablet.webp 1x, ../src/images/hero-header/ice-cream-tablet@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="../src/images/hero-header/ice-cream-tablet.png 1x, ../src/images/hero-header/ice-cream-tablet@2x.png 2x "
        />
        <source
          media="(max-width: 767px)"
          srcset="../src/images/hero-header/ice-cream.webp 1x"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="../src/images/hero-header/ice-cream.png 1x, ../src/images/hero-header/ice-cream@2x.png 2x"
        />
        <img  src="#" alt="ice-cream" />
      </picture>
      
      <div class="hero__exposition__box">
        <p class="hero__exposition__text">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor<br> incididunt ut labore et</p>
        <button type="button" class="hero__exposition__btn">
          <svg class="btn__icon" width="6" height="6">
            <use href="../src/images/svg/symbol-defs.svg#icon-arrow-right" ></use>
          </svg>
        </button>
      </div>
      
    </div>
    <ul class="hero__decor__list">
      <li class="hero__decor__item"> 
        <img class="hero__decor__image-milk" src="../src/images/hero-header/milk-tablet.png" alt="milk">
      </li>
      <li class="hero__decor__item">
        <img class="hero__decor__image-girl" src="../src/images/hero-header/girl-tablet.png" alt="milk">
      </li>
    </ul>
  </div>
  
</section>
