<section class="hero-header">
  <div class="container">

    <!------------header-------------->

    <header class="header-container">
      <nav class="header-site-nav">
        <a href="#" class="header-logo">
          <img src="../src/images/hero-header/logo-tablet.png" alt="logo">
        </a>
        <ul class="header-list">
          <ii class="header-list-item>
            <a href="#" class="header-list-link">Home</a>
          </ii>
          <ii class="header-list-item>
            <a href="#" class="header-list-link">About us</a>
          </ii>
          <ii class="header-list-item>
            <a href="#" class="header-list-link">How it’s made?</a>
          </ii>
          <ii class="header-list-item>
            <a href="#" class="header-list-link">Our products</a>
          </ii>
          <ii class="header-list-item>
            <a href="#" class="header-list-link">Contact</a>
          </ii>

        </ul>
        
      </nav>
      <button type="button" class="header-btn">Buy now</button>
    </header>

      <!------------hero--------------->

    <div class="hero-container">
      <h1 class="hero-title">ice cream made with <span class="logo-item">passion</span> </h1>
      <div class="hero-box-btn">
        <button type="button" class="hero-btn-dark">Products</button>
        <button type="button" class="hero-btn-light">How it’s made?</button>
      </div>
      <ul class="hero-description-list">
        <li class="hero-description-item">
          <span class="hero-description-count">16</span>
          <p class="hero-description-text">cafes</p>
        </li>
        <li class="hero-description-item">
          <span class="hero-description-count">23</span>
          <p class="hero-description-text">food trucks</p>
        </li>
      </ul>
      <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <a href="" class="hero-link">
        <svg class="link-icon" width="26" height="26">
          <use href="../src/images/svg/symbol-defs.svg#icon-arrow-right" ></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="hero-decor-box">
    <img src="../src/images/hero-header/milk-tablet.png" alt="milk">
    <img src="../src/images/hero-header/girl-tablet.png" alt="milk">
  </div>
</section>
