<section class="products" id="products">
  <div class="container">
    <!-- title label -->
    <p class="title-label">100% natural</p>
    <!-- section titile -->
    <h2 class="section-title">products</h2>
    <!-- products list -->
    <ul class="products__list">
      <li class="products__thumb">
        <div class="products__card" data-description-one>
          <h3 class="products__title">ice cream</h3>
          <p class="products__meta">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" data-description-one-open>
            <svg width="10" height="10">
              <use href="../src/images/svg/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="products__back" data-description-one>
          <p class="products__meta">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minima quas qui quo
            veniam vitae. Adipisci alias asperiores aut consequatur, dolore esse et ex
            exercitationem harum in inventore ipsa laborum molestias nam necessitatibus nesciunt
            nobis numquam odit omnis provident quibusdam quis quisquam soluta, suscipit voluptatum?
            Aspernatur deleniti fugit impedit laborum optio perferendis praesentium quibusdam
            voluptate!
          </p>
          <button type="button" class="products__btn" data-description-one-close>
            <svg width="10" height="10">
              <use href="../src/images/svg/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__thumb">
        <div class="products__card">
          <h3 class="products__title">ice cream</h3>
          <p class="products__meta">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn">
            <svg width="10" height="10">
              <use href="../src/images/svg/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="products__back">
          <p class="products__meta">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minima quas qui quo
            veniam vitae. Adipisci alias asperiores aut consequatur, dolore esse et ex
            exercitationem harum in inventore ipsa laborum molestias nam necessitatibus nesciunt
            nobis numquam odit omnis provident quibusdam quis quisquam soluta, suscipit voluptatum?
            Aspernatur deleniti fugit impedit laborum optio perferendis praesentium quibusdam
            voluptate!
          </p>
          <button type="button" class="products__btn">
            <svg width="10" height="10">
              <use href="../src/images/svg/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__thumb">
        <div class="products__card">
          <h3 class="products__title">ice cream</h3>
          <p class="products__meta">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn">
            <svg width="10" height="10">
              <use href="../src/images/svg/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="products__back">
          <p class="products__meta">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minima quas qui quo
            veniam vitae. Adipisci alias asperiores aut consequatur, dolore esse et ex
            exercitationem harum in inventore ipsa laborum molestias nam necessitatibus nesciunt
            nobis numquam odit omnis provident quibusdam quis quisquam soluta, suscipit voluptatum?
            Aspernatur deleniti fugit impedit laborum optio perferendis praesentium quibusdam
            voluptate!
          </p>
          <button type="button" class="products__btn">
            <svg width="10" height="10">
              <use href="../src/images/svg/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
